body {
  font-family: Arial, sans-serif;
  background: #eef2ff;
  text-align: center;
  padding: 50px;
}

h1 {
  color: rgb(0, 139, 69);
}

button {
  padding: 10px 20px;
  border: none;
  background: rgb(177, 2, 2);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: rgb(193, 235, 9);
}
